<section  (scroll)="onWindowScroll()">
    <div class="scroll-up-btn" (click)="scrollToTop()">
        <fa-icon [icon]="angleUp"></fa-icon>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="#">Portfo<span>lio.</span></a></div>
            <ul class="menu" [ngClass]="{'active': toggle}">
                <li><a href="#home" class="menu-btn" (click)="scrollSmooth()">Home</a></li>
                <li><a href="#about" class="menu-btn" (click)="scrollSmooth()">About</a></li>
                <li><a href="#resume" class="menu-btn" (click)="scrollSmooth()">Resume</a></li>
                <li><a href="#teams" class="menu-btn" (click)="scrollSmooth()">Books</a></li>
                <li><a href="#contact" class="menu-btn" (click)="scrollSmooth()">Contact</a></li>
            </ul>
            <div class="menu-btn" (click)="toggleActive()">
                <!-- <fa-icon [icon]="bar"></fa-icon> -->
                <i class="fas fa-bars" [ngClass]="{'active': toggle}"></i>
            </div>
        </div>
    </nav>
</section>


