<footer>
    <div class="layout-footer">
        <div class="layout-footer-right">
            <a class="btn btn-link" href="https://www.facebook.com/indrajeetietlko/" target="_blank">
                <fa-icon [icon]="facebook"></fa-icon>
            </a>
            <a class="btn btn-link" href="https://www.instagram.com/indrajeetietlko/" target="_blank">
                <fa-icon [icon]="instagram"></fa-icon>
            </a>
            <a class="btn btn-link " href="https://twitter.com/indrajeetietlko" target="_blank">
                <fa-icon [icon]="twitter"></fa-icon>
            </a>
            <a class="btn btn-link " href="https://www.linkedin.com/in/indrajeetietlko/" target="_blank">
                <fa-icon [icon]="github"></fa-icon>
            </a>
        </div>
        <div class="layout-footer-center">
            <span>Created By <a href="#">Indrajeet</a> | <span><fa-icon [icon]="copyright"></fa-icon></span>  All rights reserved.</span>
        </div>
    </div>
</footer>