<section class="about" id="about">
    <div class="max-width">
        <h2 class="title">About me</h2>
        <div class="about-content">
            <div class="column left">
                <img src="assets/images/profile.jpg" alt="">
            </div>
            <div class="column right">
                <div class="text">I'm Indrajeet and I'm a <span class="typing-2"></span></div>
                <p>A Full Stack Developer with strong passion for self-improvement. I have DSA concepts as well as strong problem solving skills & bring energy, patience, positivity and cultural values to the team. Myself trained around 100+ students in <a href="https://akirait.com/">AkiraIT</a></p>
                <a href="#about" class="resume" (click)="downloadPdf('./assets/resume.pdf','indrajeet-resume')">Download CV</a>
            </div>
        </div>
    </div>
</section>