<section class="teams" id="teams">
  <div class="max-width">
    <h2 class="title">Faviroute Books</h2>
    <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="card">
                <div class="box">
                    <img src="assets/images/profile-1.jpg" alt="">
                    <div class="text">James Clear</div>
                    <p>Atomic Habits: An Easy & Proven Way to Build Good Habits & Break Bad Ones.</p>
                </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card">
                <div class="box">
                    <img src="assets/images/profile-2.jpg" alt="">
                    <div class="text">Alex Roy</div>
                    <p>77 Secrets and Habits of Highly Successful People: How to Think, Behave, Grow Rich.</p>
                </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card">
                <div class="box">
                    <img src="assets/images/profile-3.jpg" alt="">
                    <div class="text">Ashlee Vance</div>
                    <p>Elon Musk: Tesla, SpaceX, and the Quest for a Fantastic Future.</p>
                </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card">
                <div class="box">
                    <img src="assets/images/profile-4.jpg" alt="">
                    <div class="text">Roy F. Baumeister</div>
                    <p>Willpower: Rediscovering Our Greatest Strength.Secrets of self-control</p>
                </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card">
                <div class="box">
                    <img src="assets/images/profile-5.jpg" alt="">
                    <div class="text">David J. Schwartz</div>
                    <p>The Magic of Thinking Big.Financial security etc...</p>
                </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card">
                <div class="box">
                    <img src="assets/images/profile-6.jpg" alt="">
                    <div class="text">Arun Tiwari</div>
                    <p>Wings of Fire: An Autobiography of Abdul Kalam.</p>
                </div>
                </div>
            </ng-template>
    </owl-carousel-o>
  </div>
</section>



