section{
    padding: 10px 0;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 250px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: rgb(15, 15, 15);
    transform: translateX(-50%);
}

.teams{
    color:#fff;
    background: #111;
}
.teams .title::before{
    background: #fff;
}
.teams .title::after{
    content: "which like to read";
}
owl-carousel-o .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
owl-carousel-o .card:hover{
    background: crimson;
}
owl-carousel-o .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
owl-carousel-o .card:hover .box{
    transform: scale(1.05);
}
owl-carousel-o .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: #fff;
}
owl-carousel-o .card p{
    color: #fff;
}
owl-carousel-o  .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}
owl-carousel-o  .card:hover img{
    border-color: #fff;
}

::ng-deep .owl-theme .owl-dots .owl-dots{
    text-align: center;
    margin-top: 20px;
}
::ng-deep .owl-theme .owl-dots .owl-dot span {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    background: #000;
    transition: all 0.3s ease;
}
::ng-deep .owl-theme .owl-dots .owl-dot.active{
    width: 35px;
    border-radius: 14px;
    background: #000;
}

::ng-deep .owl-theme .owl-dots .owl-dot.active,.owl-dot:hover{
    background: crimson!important;
}


