<section class="resume" id="resume">
    <div class="max-width">
        <h2 class="resume-title">My employment,education & skills</h2>
        <div class="resume-content">
            <div class="column left">
                <div class="timeline-section">
                    <h3 class="main-heading">Employment</h3>
                    <div class="clear"></div>
                    <ul class="timeline">
                        <li>
                            <div class="timelineunit">
                                <h4>Virtusa<span class="timelinedate">2021 - Present</span></h4>
                                <h5>Full Stack Software Developer</h5>
                                <p>I'm currently working on CreditSuisse on payroll Virtusa as an indivisual contributor.Prime Brokerage Services that allow to visualize intraday trading activities across globe and restrict trading incase of anamolies found wrt historical activites. Working on backend (Java, Sybase, SpringBoot, SpringCloud, JMS) + frontend (JS, Angular, NgRx). Docker Containerization and Kubernetes Deployment of the backend as well as frontend. Capturing KPI metrics in a dashboard built using ELK techstack.</p>
                            </div>
                        </li>
                        <li>
                            <div class="timelineunit">
                                <h4>OSB INDIA<span class="timelinedate">2017 - 2021</span></h4>
                                <h5>Software Developer</h5>
                                <p>Mostly worked on Java technologies and scaling microservices suing SpringBoot and SpringCloud. Worked with Senior Architect to write modular code and build libraries to handle cross-cutting concerns like telemetry-logging and allow developers to focus primarily on business goals. In other projects, I lead a Windows Defender Project of three developers where I did complete onboarding of the project and built working relationships with other teams in US.</p>
                            </div>
                        </li>
                        <li>
                            <div class="timelineunit">
                                <h4>Cognizant<span class="timelinedate">2016 - 2017</span></h4>
                                <h5>Software Developer</h5>
                                <p>I worked on ANZ on payroll cognizant as a backend developer.CIS is an enterprise BTR store for reporting to customers through various ANZ channel. It is connected to multiple ANZ core banking systems for loading prior day balances and transactions. Additionally, it interface with ANZ system for providing current day BTR.</p>
                            </div>
                        </li>
                        <li>
                            <div class="timelineunit">
                                <h4>Akira IT<span class="timelinedate">2014 - 2016</span></h4>
                                <h5>Software Trainee</h5>
                                <p>Myself having 5+ year of teching experience and has trained 100+ students across the world in classroom bootcamp as well as online.
                                    My Expertise lies in problem solving, algorimths, competitive programming and web development.
                                    And My faviout subjects are Tree,Graphs and DP.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <h3 class="main-heading">Education</h3>
                    <div class="clear"></div>
                    <ul class="timeline">
                        <li>
                            <div class="timelineunit">
                                <h4>B.Tech - 70%<span class="timelinedate">2011 - 2014</span></h4>
                                <h5>Computer Science, IET Lucknow</h5>
                            </div>
                        </li>
                        <li>
                            <div class="timelineunit">
                                <h4>B.Sc - 67%<span class="timelinedate">2009 - 2011</span></h4>
                                <h5>A S (PG) College, CCSU Meerut</h5>
                            </div>
                        </li>
                        <li>
                            <div class="timelineunit">
                                <h4>Class XII - 61% <span class="timelinedate">2006 - 2004</span></h4>
                                <h5>A S Inter College, U.P. Board</h5>
                            </div>
                        </li>
                        <li>
                            <div class="timelineunit">
                                <h4>Class X - 65%<span class="timelinedate">2004 - 2003</span></h4>
                                <h5>A S Inter College, U.P. Board</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column right">
                <div class="skills-section">
                    <h3 class="main-heading">Progamming Languages</h3>
                    <ul class="skills">
                        <li>
                            <h4>C++</h4>
                            <div class="rating" date-rate="5">
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                            </div>
                        </li>
                        <li>
                            <h4>Java</h4>
                            <div class="rating" date-rate="5">
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                            </div>
                        </li>
                        <li>
                            <h4>Python</h4>
                            <div class="rating" date-rate="5">
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span></span>
                            </div>
                        </li>
                        <li>
                            <h4>JavaScript</h4>
                            <div class="rating" date-rate="5">
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span></span>
                            </div>
                        </li>
                  </ul>
                    
                    <h3 class="main-heading">Backend Skills</h3>
                    <ul class="skills">
                        <li>
                            <h4>SpringBoot</h4>
                            <div class="rating" date-rate="5">
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                            </div>
                        </li>
                        
                        <li>
                            <h4>MicroServices</h4>
                            <div class="rating" date-rate="5">
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                            </div>
                        </li>
                        
                        <li>
                            <h4>Django</h4>
                            <div class="rating" date-rate="5">
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span></span>
                                <span></span>
                            </div>
                        </li>
                        
                        <li>
                            <h4>Nodejs</h4>
                            <div class="rating" date-rate="5">
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span></span>
                                <span></span>
                            </div>
                        </li>
                        
                        <li>
                            <h4>ExpressJs</h4>
                            <div class="rating" date-rate="5">
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span></span>
                                <span></span>
                            </div>
                        </li>
                       
                        <li>
                            <h4 style="width:230px">ORACLE+MySQL+MongoDB</h4>
                            <div class="rating" date-rate="5">
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span></span>
                            </div>
                        </li>
                       
                    </ul>

                    <h3 class="main-heading">Frontend Skills</h3>
                    <ul class="skills">
                        <li>
                            <h4>HTML+CSS</h4>
                            <div class="rating" date-rate="5">
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                            </div>
                        </li>
                        
                        <li>
                            <h4>Angular+NGRX</h4>
                            <div class="rating" date-rate="5">
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span></span>
                            </div>
                        </li>
                        
                        <li>
                            <h4>React+Redux</h4>
                            <div class="rating" date-rate="5">
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span></span>
                                <span></span>
                            </div>
                        </li>
                        
                        <li>
                            <h4>Bootstrap</h4>
                            <div class="rating" date-rate="5">
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                            </div>
                        </li>
                        
                        <li>
                            <h4>Android Apps</h4>
                            <div class="rating" date-rate="5">
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                            </div>
                        </li>
                        
                    </ul>

                    <h3 class="main-heading">DevTools and Other Skills</h3>
                    <ul class="skills">
                        <li>
                            <h4>Docker</h4>
                            <div class="rating" date-rate="5">
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                            </div>
                        </li>
                        
                        <li>
                            <h4>Git+SVN Verion Control</h4>
                            <div class="rating" date-rate="5">
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                            </div>
                        </li>
                        
                        <li>
                            <h4>Log4J+ ElasticSearch,Logstash, Kibana</h4>
                            <div class="rating" date-rate="5">
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span></span>
                            </div>
                        </li>
                        
                        <li>
                            <h4>Linux Teminal</h4>
                            <div class="rating" date-rate="5">
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span></span>
                                <span></span>
                            </div>
                        </li>
                        <li>
                            <h4>Video, Photo Editing</h4>
                            <div class="rating" date-rate="5">
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span style="opacity:1"></span>
                                <span></span>
                                <span></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</section>